@{
    ViewBag.Title = "About";
}
<h1 class="AboutHeader"> About</h1>

<h4 class="AboutHeader">This sight is to see where your mind takes you. Everybody has a happy place and when you find it just let us know and we'll store it for you to remember in the future.</h4>
<p class="btnlead"><a href="http://localhost:57159/Locations/Index" class="btn btn-primary btn-lg">Let's Begin &raquo;</a></p>