@{
    ViewBag.Title = "Contact";
}
<h1 class="ContactHeader">Contact Info</h1>

<address>
    Your dreams can be more<br />
    They can be Real<br />
    <abbr title="Phone">P:</abbr>
    123-456-7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Obey.Faize@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">AnotherMailyThing@gmail.com</a>
</address>