@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="Title">Your Dream Location</h1>
    <p class="lead">What's the most Amazing place you can think of? Most would say Disney World but that's only limitied to reality. The choices are limitless!</p>
    <p class="btnlead"><a href="http://localhost:57159/Locations/Index" class="btn btn-primary btn-lg">Let's Begin &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Wishes</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis lacus elit, sed faucibus mi consequat eleifend. Morbi ac mattis mauris. Suspendisse posuere volutpat sapien.
        </p>
        <p><a class="btn btn-default" href="http://localhost:57159/Locations/Create">Upon a Star &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Imaginations</h2>
        <p>
            Pellentesque pellentesque nisl est, vitae tempus turpis mollis ut. Sed faucibus elit quis arcu mattis, vitae tempor diam sagittis.vmalesuada iaculis lectus.vCurabitur sit amet ipsum sapien. Morbi at pretium purus.
        </p>
        <p><a class="btn btn-default" href="http://localhost:57159/Locations/Create">Enlighten &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dreams</h2>
        <p>
            Morbi id lacus odio. Sed vitae metus consequat magna lacinia egestas sit amet porttitor augue. Vivamus dapibus mollis aliquet.
        </p>
        <p><a class="btn btn-default" href="http://localhost:57159/Locations/Create">Come True &raquo;</a></p>
    </div>
</div>