body {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    color: lightblue;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    font-family: 'Merienda', cursive;
    color: lightblue;
    white-space: normal;
}

.form-horizontal {
    font-family: 'Merienda', cursive;
    color: lightblue;
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Title {
    font-family: 'Merienda', cursive;
    text-align: center;
}

.lead {
    font-family: 'Merienda', cursive;
    text-align: center;
}

.btnlead {
    font-family: 'Merienda', cursive;
    text-align: center;
}

.ForumHeader {
    font-family: 'Merienda', cursive;
    text-align: center;
}

.ContactHeader {
    color: lightblue;
    text-align: center;
    font-family: 'Merienda', cursive;

}

.DeleteHeader {
    color:lightblue;
    text-align: center;
}
.Create {
    color:lightblue;
    text-align: center;
}

.Edit {
    color:lightblue;
    text-align: center;
    font-family: 'Merienda', cursive;
}

.Details {
    font-family: 'Merienda', cursive;
    text-align: center;
    color: lightblue;
}

.ForumLink {
    text-align: center;
}

.jumbotron {
    background-color: black;   
    color: lightblue;
}

.ForumHeader {
    color: lightblue;
}

.col-md-4 {
    font-family: 'Merienda', cursive;
    text-align: center;
    color: lightblue;
}

address {
    color: lightblue;
    text-align: center;
}

.AboutHeader {
    font-family: 'Merienda', cursive;
    text-align: center;
    color: lightblue;
}

.table {
    color: lightblue;
}

.CategoryHeader {
    text-align: center;
    color: lightblue;
    font-family: 'Merienda', cursive;
}





footer {
    text-align: center;
}

.CategoryForum {
    text-align: center;
}